<footer
  class="footer d-flex justify-content-center flex-column align-items-center gap-4"
>
  <p class="copyright text-align-center text-light d-flex align-items-center">
    © 2026 90's Visuals. All Rights Reserved
  </p>

  <div class="footer-social-links d-flex justify-content-center gap-2">
    <a href=""><i class="bi bi-twitter-x"></i></a>
    <a href=""><i class="bi bi-facebook"></i></a>
    <a href=""><i class="bi bi-instagram"></i></a>
    <a href=""><i class="bi bi-linkedin"></i></a>
  </div>

  <p class="praise d-flex align-items-center m-0">
    Built with 💚 by
    <a
      href="https://dubem-portfolio-beryl.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="me ms-1"
      >Dubem
    </a>
  </p>
</footer>
