<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>90s Visuals</title>

    <link
      rel="icon"
      href="https://res.cloudinary.com/dirijnb2k/image/upload/q_auto/f_auto/v1776006852/90_s_favicon.png"
      type="image/png"
    />

    <!--Montserrat Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- Bootstrap CSS CDN Link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <!-- AOS (Animate on Scroll) CSS CDN Link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- GLightbox CSS CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
    />

    <!-- Swiper CSS CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/app.css" />
  </head>

  <body
    id="homePage"
    class="position-relative overflow-x-hidden overflow-y-auto d-flex flex-column"
  >
    <%- include('partials/navbar') %>

    <!-- Main Page********************* -->

    <main class="main">
      <!-- *****************Hero Section (Home)********************* -->

      <section class="hero hero-section mb-5" id="heroSection">
        <div
          class="hero-img-wrapper first-img d-flex align-items-center flex-column position-relative w-100 min-vh-100"
        >
          <div class="og-hero-overlay position-absolute"></div>
          <div
            class="hero-overlay position-absolute opacity-0"
            id="heroImgBg"
          ></div>

          <div
            class="container tit"
            style="margin-top: 70px"
            data-aos="fade-up"
            data-aos-delay="50"
          >
            <div class="row justify-content-center">
              <div class="col-md-12 text-center">
                <h2
                  id="heroTitle"
                  class="hero-title d-flex align-items-center justify-content-center position-relative flex-nowrap"
                >
                  <span class="text-white title">I CREATE.</span>
                  <span class="highlight title">I CAPTURE.</span>
                  <span class="title">I CONNECT.</span>
                </h2>
                <h4 class="ps">
                  <p>From concept to screen.</p>
                  <p>90s visuals Concept, originality redefined.</p>
                </h4>
                <a
                  href="#contactSection"
                  class="btn-get-started btn text-light text-decoration-none rounded-3"
                  >BOOK A SESSION</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </section>

      <!-- ******************Gallery Section******************** -->

      <section
        class="gallery-section mt-5 mb-4 max-width"
        id="gallerySection"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="container-fluid cont">
          <div id="colContainer" class="row gy-4 justify-content-center">
            <h2 class="gallery-title text-center mb-0 section-title">
              GALLERY
            </h2>
            <p class="text-center mt-0 section-subtext">
              Selected pieces from my collection
            </p>
          </div>
        </div>
        <a href="/gallery/all?id=0" class="text-reset text-decoration-none">
          <button
            class="btn btn-get-started mx-auto d-block py-2 px-3 text-light view-more rounded-3"
          >
            VIEW MORE
          </button>
        </a>
      </section>

      <!-- ******************About Section******************** -->
      <section
        class="about-section cont max-width"
        id="aboutSection"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="wrapper abt-wih">
          <div class="row justify-content-center abt-cont">
            <h2 class="text-center section-title mb-0">ABOUT ME</h2>
            <p class="text-center mt-0 section-subtext">
              The eye behind the lens
            </p>
            <div class="col-lg-6 about-me-container mt-3">
              <h4 class="fs-4">
                Hi, I'm <span class="green-name">David Ogunleye</span>
              </h4>

              <p class="mt-4 my-description">
                I’m a professional photographer and visual storyteller based in
                Scotland. I create visuals that go beyond the ordinary, blending
                creativity, culture, and delivering work that feels authentic
                and distinctive.

                <br />
                <br />
                By adapting my approach to suit each project, i ensure every
                visual tells its own unique story. My focus is simple: capture
                moments and transform them into cinematic, story-driven visuals
                that stand out.
                <br />
                <br />
              </p>

              <h4 class="fs-5 mt-4">I Professionalize in</h4>

              <div class="services-container container">
                <div class="services-wrapper row">
                  <div class="col-6">
                    <p>
                      <i class="bi bi-check-lg save-icon save-btn"></i> Fashion
                    </p>
                    <p>
                      <i class="bi bi-check-lg save-icon save-btn"></i> Wedding
                    </p>
                    <p>
                      <i class="bi bi-check-lg save-icon save-btn"></i> Product
                    </p>
                  </div>

                  <div class="col-6">
                    <p>
                      <i class="bi bi-check-lg save-icon save-btn"></i> Portaits
                    </p>
                    <p>
                      <i class="bi bi-check-lg save-icon save-btn"></i> Sports
                    </p>
                    <p>
                      <i class="bi bi-check-lg save-icon save-btn"></i> Birthday
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 my-image-container mt-3 text-center">
              <img
                src="https://res.cloudinary.com/dirijnb2k/image/upload/q_auto/f_auto/v1776458728/my_pic.png"
                alt="my-pic"
                class="my-image img-fluid rounded-4"
              />
            </div>
          </div>
        </div>
      </section>

      <!-- ******************Services Section******************** -->
      <section
        class="services-section mb-5 cont max-width"
        id="servicesSection"
      >
        <div class="max-wih" data-aos="fade-up" data-aos-delay="100">
          <h2 class="text-center m-0 section-title">SERVICES</h2>

          <p class="text-center mt-0 section-subtext">What i can do for you</p>
          <div
            class="row mb-5 mt-2 g-3 top-container"
            id="servicesContainer"
          ></div>
        </div>
      </section>

      <!-- ******************Contact Section******************** -->
      <section class="contact-section cont max-width" id="contactSection">
        <div style="width: 90%" data-aos="fade-up" data-aos-delay="100">
          <h2 class="text-center mb-5 section-title">CONTACT ME</h2>
          <form action="#" class="contact-form" id="contactForm">
            <div class="row gy-4 gx-3 justify-content-center">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control py-3"
                  placeholder="First Name:"
                  name="first-name"
                  required
                />
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control py-3"
                  placeholder="Last Name:"
                  name="last-name"
                  required
                />
              </div>

              <div class="col-12">
                <input
                  type="email"
                  class="form-control py-3"
                  placeholder="Email:"
                  name="email"
                  required
                />
              </div>

              <div class="col-12">
                <input
                  type="number"
                  class="form-control py-3"
                  placeholder="Phone Number:"
                  name="phone-number"
                  required
                />
              </div>

              <div class="col-12">
                <textarea
                  name="message"
                  class="form-control message"
                  placeholder="Message:"
                  required
                ></textarea>
              </div>

              <div class="col-12 button-container">
                <button class="btn submit-button" type="submit">
                  Submit Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>

    <!-- CDN JS Files -->
    <!--- BootstrapJS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <!-- AOSJS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- GLIightboxJS -->
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script type="text/javascript">
      // const lightbox = GLightbox();
    </script>
    <!-- SwiperJS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="app.js"></script>
  </body>
</html>
